@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    margin: 0;
    overflow-x: hidden;
}

.logo-nav {
    max-width: 45%;
    height: auto;
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    padding: 10px;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    justify-content: space-between;
    align-content: center;
    padding-inline: 50px;
}

.mid-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin-left: -300px;
    font-weight: 400;
}
.right-nav {
   display: flex;
   justify-content: space-between;
   width: 15%;
   margin-right: 90px;
   align-items: center;

}

.right-nav a {
    font-weight: 500;
    font-size: 18px;

}


.navbar div p a {
    text-decoration: none;
    color: white;
    

}
.first{
    /* background: linear-gradient(to bottom, #3498db, #ffffff);
     */
    height: 500px;
    padding-top: 20%;
    background-image: url(../GoRwanda/images/illume_orig.webp);
    background-size: cover;
    color: aliceblue;
    padding-inline: 55px;
}
